.header {
  display: flex;
  width: 85%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 7px 50px;
  /* border: 6px solid rgba(255, 165, 0, 1); */
  border: 6px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(249, 250, 251, 0.2);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  /* border-radius: 16px; */
  border-radius: 50px;

  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
  margin-top: 15px;
  margin-bottom: 100px;
  color: white;
}
.buttons {
  display: flex;
  gap: 10px;
}
.normalBtn {
  width: 70px;
  /* height: 50px; */
  background: none;
  border: none;
  font-family: "inter", sans-serif;
  font-size: 22px;
  font-weight: 550;
}
.roundBtn {
  border-radius: 50px;
  width: 195px;
  height: 65px;
  border: none;
  font-family: "inter", sans-serif;
  font-size: 22px;
  font-weight: 550;
}
.normalBtn,
.roundBtn:hover {
  cursor: pointer;
}
.logo {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.6em;
}

@media (max-width: 600px) {
  .header {
    height: 40px;
    padding: 20px;
    width: 75%;
  }
  .roundBtn {
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .normalBtn {
    font-size: 10px;
  }
  .buttons {
    gap: 0px;
  }
}
